

<div class="divImg"> <img src="~/Content/Images/img insert.png" class="ClassImg" /></div>

<div class="row">
		<h3 class="Title">Gabriel Fonseca</h3>
		<h4 class="FontCaracter"> Tenho 20 anos, estudante de Análise e desenvolvimento de sistemas, atualmente, trampo em uma Fintech e estou estudando mais front, pois pretendo me tornar FullStack.</h4>
</div>