@{
	ViewBag.Favicon = "/Content/Images/Sanrio_Characters_Badtz-Maru_Image007.png";
}


<div class="jumbotron">
	<h1 class="TitlePag">Meu Git</h1>
	<p class="lead">
		GitHub é uma plataforma de hospedagem de código-fonte com controle de versão usando o Git. Ele permite que programadores, utilitários ou qualquer usuário cadastrado na plataforma contribuam em projetos privados e/ou Open Source de qualquer lugar do mundo.
	</p>
	<p><a href="https://github.com/Gabrielrlf" class="btn btn-primary btn-lg" target="_blank">Veja meu Git &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="DivBackground">
			<h3 class="Title">Redes sociais</h3>
			<p class="FontCaracter">
			<p><a href="http://instagram.com/" class="stylePicture" target="_blank"> <img src="~/Content/Images/logo-insta.png" width="20" height="20" /> User: GabrielRlf  </a> </p> <br /> <p></p>
			<p><a href="https://api.whatsapp.com/send?phone=5585989319504&text=Ol%C3%A1%2C%20Gabriel.%20Tudo%20bem%3F%20Quero%20fazer%20um%20or%C3%A7amento!" class="stylePicture" target="_blank"> <img src="~/Content/Images/whatsapp=logo.png" width="20" height="20" /> Whatsapp  </a> </p> <br /><p></p>
			<p><a href="http://instagram.com/" class="stylePicture" target="_blank"> <img src="~/Content/Images/logo-insta.png" width="20" height="20" /> Linkedin </a> </p> <br /><p></p>
			<p><a href="http://instagram.com/" class="stylePicture" target="_blank"> <img src="~/Content/Images/logo-insta.png" width="20" height="20" /> Facebook </a> </p> <br />
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" target="_blank"> Saiba mais &raquo;</a></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="DivBackground">
			<div class="DivBackgroundRodaPe">
				<h2 class="Title">Get more libraries</h2>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="DivBackground">
			<h2 class="Title">Web Hosting</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
		</div>
	</div>
</div>