
@{
	ViewBag.Title = "Portfolio";
}


<h2 class="Title">Portfólio</h2>
<hr />
<div class="gallery autoplay items-3">
	<div id="item-1" class="control-operator"></div>
	<div id="item-2" class="control-operator"></div>
	<div id="item-3" class="control-operator"></div>

	<figure class="item">
		<a href="www.google.com"><img src="~/Content/Images/random.jpg" width="1200" /></a>
	</figure>

	<figure class="item">
		<a href="www.google.com"><img src="~/Content/Images/random2.jpg" width="1200" /></a>
	</figure>

	<figure class="item">
		<div target="_blank" class="picture"><img src="~/Content/Images/random3.jpg" width="1200" height="400" /></div>
	</figure>

	<div class="controls">
		<a href="#item-1" class="control-button">•</a>
		<a href="#item-2" class="control-button">•</a>
		<a href="#item-3" class="control-button">•</a>
	</div>
</div>
<hr />
<div class="AmostraSite">
	<img src="~/Content/Images/random2.jpg" class="ArredondarImagem" /> <br /><p></p>
	<center> <a href="https://www.google.com/" class="btn btn-primary btn-sm"> Site da Coca-cola  </a></center>
</div>
<div class="AmostraSite">
	<img src="~/Content/Images/random2.jpg" class="ArredondarImagem" /> <br /><p></p>
	<center> <a href="https://www.google.com/" class="btn btn-primary btn-sm"> Site da Coca-cola  </a></center>
</div>
<div class="AmostraSite">
	<img src="~/Content/Images/random2.jpg" class="ArredondarImagem" /> <br /><p></p>
	<center> <a href="https://www.google.com/" class="btn btn-primary btn-sm"> Site da Coca-cola  </a></center>
</div>
<div class="AmostraSite">
	<img src="~/Content/Images/random2.jpg" class="ArredondarImagem" /> <br /><p></p>
	<center> <a href="https://www.google.com/" class="btn btn-primary btn-sm"> Site da Coca-cola  </a></center>
</div>
<div class="AmostraSite">
	<img src="~/Content/Images/random2.jpg" class="ArredondarImagem" /> <br /><p></p>
	<center> <a href="https://www.google.com/" class="btn btn-primary btn-sm"> Site da Coca-cola  </a></center>
</div>
<br />
<br />
<br />
<center>
	<a class="btnOrc" href="https://api.whatsapp.com/send?phone=5585989319504&text=Ol%C3%A1%2C%20Gabriel.%20Tudo%20bem%3F%20Quero%20fazer%20um%20or%C3%A7amento!" target="_blank"> Faça um orçamento »</a>
</center>
